<h2> Rollback Application Deployment
</h2>

Roll-backing Applicative Installation can be done with a restoration from the full backup of the application that have been produce bellow.
Web Application restoration can be found in the dedicated operating document.
